html
{
    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

img
{
    display: block;
    margin: auto;
}

a:hover
{
    content: url('../images/FFTitle2.png');
    display: block;
    margin: auto;
}
